body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    color: #F9FAF8;
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #220941;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 20px;
}

.nav, .intro, .nav a  {
    display: flex;
    justify-content: space-between;
    color: #E5E7EB;
    gap: 20px;
    padding: 20px;
    text-decoration: none;
}

.right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 2;
    border: 1px solid gray;
    flex-basis: 33%;
    margin: 0 20px;
}

.right-column img {
    width: 100%;
    height: auto;
}

.intro {
    text-align: center;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #220941;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 66%;
    gap: 20px;
    flex-shrink: 1;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    font-weight: 900;
    font-size: 48px;
}

button{
    background-color: #593d91;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    color:#E5E7EB;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    font-size: 18px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #F9FAF8;
    color: #1F2937;
}

.project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-images {
    display: flex;
    justify-content: space-around;
    flex-basis: 50%;
    width: 600px;
 
}

.project-images div {
    border-radius: 15px;
    border-color: #40196f;
    border-style: solid;
    border-width: 5px;
    padding: 25px;
    margin: 0px 20px;
    font-size: 48px;
}
.project-images a {
  text-decoration: none;
}

.project-descriptions p{
    width: 250px;
    height: auto;
    margin: 20px;
}

.project-descriptions {
    font-size: 18px;
    text-align: center;
    flex-basis: 50%;
    display: flex;
    width: 600px;
}

.quote {
    font-style: italic;
    text-align: center;
    margin: 0px 200px;
    font-size: 36px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
    padding: 25px;
}

#contact {
    display: flex;
    justify-content: center;
}

.box {
    background-color: #512d7a;
    display: flex;
    font-size: 24px;
    flex-basis: 100%;
    justify-content: space-evenly;
    color: #F9FAF8;
    text-align: center;
    align-items: center;
    padding: 10px;
}