body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    color: #F9FAF8;
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 20px;
}

.nav, .intro, .nav a  {
    display: flex;
    justify-content: space-between;
    color: #E5E7EB;
    gap: 20px;
    padding: 20px;
    text-decoration: none;
}

img {
    display: flex;
    justify-content: center;
    width: 300px;
    height: auto;
    border: 1px solid gray;
    flex-basis: 50%;
}

.intro {
    text-align: center;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    gap: 20px;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    font-weight: 900;
    font-size: 48px;
}

button{
    background-color: #3882F6;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    color:#E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #F9FAF8;
    color: #1F2937;
}

.quote {
    font-style: italic;
    text-align: center;
    margin: 20px;
    font-size: 36px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
}

.call-to-action {
    display: flex;
    justify-content: center;
}

.box {
    background-color: #1c5db8;
    display: flex;
    font-size: 24px;
    margin: 10px;
    flex-basis: 75%;
    justify-content: space-evenly;
    color: #F9FAF8;
    text-align: center;
    align-items: center;
    padding: 10px;
}