.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav, .intro {
    color: #E5E7EB;
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    color: #F9FAF8;
}

.intro {
    text-align: center;
    padding: 50px;
    font-weight: 900;
    font-size: 48px;
}

button{
    background-color: #3882F6;
}

.quote {
    font-style: italic;
    text-align: center;
    margin: 20px;
    font-size: 36px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;

} 